.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.mt-2 {
  margin-top: 2rem !important;
}

.blue-ring {
  width: 140px;
  height: 140px;
  border: 1px solid #0082fc;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem !important;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-icon {
  width: 25px;
  height: 25px;
  fill: #0082fc;
}

.blue {
  color: #0082fc;
}

.device-text {
  color: rgb(92, 92, 92);
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
}

.small-text {
  font-size: 10px;
  margin: 0px;
}

.footer {
  margin-top: 10rem !important;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.bluetooth {
  text-align: center;
}

.icon-circle {
  width: 70px;
  height: 70px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(108, 108, 108, 0.023);
  align-items: center;
}

@media (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-self: center;
    width: 414px;
    height: 796px;
    border: 1px solid rgb(201, 201, 201);
    box-shadow: 0 4px 6px rgba(36, 36, 36, 0.1);
    border-radius: 4rem;
    padding: 1rem;
  }
}
